.App {
  text-align: center;
  justify-content: center;
  font-family: 'Press Gothic';
  font-size: 200px;
}

html{
  background: linear-gradient(180deg, #09141A 0%, #01090D 100%);
  background-attachment: fixed;
}

:root{
  --main-text: linear-gradient(180deg, #6C5B59 0%, #CAA9A0 100%);
  --error-text: linear-gradient(180deg, #842B29 0%, #72232A 100%);
  --btn-text: #E8DCD9;
  --time-in-bg: linear-gradient(180deg, #144D00 0%, rgba(20, 77, 0, 0) 100%);
  --time-out-bg: linear-gradient(180deg, #770000 0%, rgba(139, 0, 0, 0) 100%);
  --clear-bg: linear-gradient(180deg, rgba(255, 255, 255, 0.65) 0%, rgba(192, 192, 192, 0) 100%);
}